*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --ff-base: "Inter", sans-serif;

  --title: 700 1.5rem/1.33 var(--ff-base);
  --label: 600 1rem/1.25 var(--ff-base);
  --paragraph: 500 1rem/1.33 var(--ff-base);
  --link: 500 0.875rem/0.875 var(--ff-base);
}

html,
button {
  font: var(--paragraph);
}

body {
  background-color: var(--background-primary);
}

h1 {
  font: var(--title);
  color: var(--content-primary);
}

span {
  font: var(--label);
}

p {
  font: var(--paragraph);
}

a {
  color: inherit;
  text-decoration: none;
  font: var(--link);
}
